{% extends 'store/base.html' %}
{% load static %}

{% block content %}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2><a href="{% url 'all-items' %}">All Items</a></h2>
        
    </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION INTRO END// ========================= -->
    
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
    <div class="container">
    
    <div class="row">
        <aside class="col-md-3">
            
    <div class="card">
        <article class="filter-group">
            
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Categories</h6>
                </a>
            </header>

            <div class="filter-content collapse show" id="collapse_1">
                <div class="card-body">
                    <ul class="list-menu">
                        {% for category in categories %}
                            <li><a href="/category={{ category.category }}">{{ category.category }}</a></li>
                        {% endfor %}
                    </ul>
                </div> <!-- card-body.// -->
            </div>

        </article> <!-- filter-group  .// -->
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <main class="col-md-9">
    
    <header class="border-bottom mb-4 pb-3">
            <div class="form-inline">
                <span class="mr-md-auto"> {{ item|length }} Items found </span>
                
            </div>
    </header><!-- sect-heading -->
    
    <div class="row">

        {% for prod in item %}

        <a href="/{{ prod.id }}" >
            <div class="col-md-4">
                <figure class="card card-product-grid">
                    <div class="img-wrap"> 
                        <img href = "/{{ prod.id }}" src="{{ prod.image.url }}">
                        
                    </div> <!-- img-wrap.// -->
                    <figcaption class="info-wrap">
                        <div class="fix-height">
                            <div class="title">{{ prod.name }}</a>
                        </div>
                        </br>
                        <a href="#" class="btn btn-block btn-primary">Claim</a>	
                    </figcaption>
                </figure>
            </div> <!-- col.// -->
        </a>

        {% endfor %}

    </div> <!-- row end.// -->
    
    
    <nav class="mt-4" aria-label="Page navigation sample">
        {% if item.has_other_pages %}
            <ul class="pagination">
                
                {% if item.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ item.previous_page_number }}">Previous</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                {% endif %}

                <li class="page-item active"><a class="page-link" href="#">{{ item.number }}</a></li>

                {% if item.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ item.next_page_number }}">Next</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </nav>
    
        </main> <!-- col.// -->
    
    </div>
    
    </div> <!-- container .//  -->
</section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    

{% endblock %}