{% load static %}

<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
  <div class="container">
    <section class="footer-bottom border-top row">

      <div class="col-md-6">
        <p class="text-muted">&copy 2021 Lost&Found</p>
      </div>

      <div class="col-md-2 text-center">
        <a href="https://www.linkedin.com/in/niharikakabra/"><span class="px-2">Niharika Kabra</span></a>
        <span class="px-2">LIT2019053</span>
      </div>
      <div class="col-md-2 text-center">
        <a href="https://www.linkedin.com/in/singh0300sarthak/"><span class="px-2">Sarthak Singh</span></a>
        <span class="px-2">LIT2019068</span>
      </div>
      <div class="col-md-2 text-center">
        <a href="https://www.linkedin.com/in/khushi-srivastav-185004198/"><span class="px-2">Khushi Srivastava</span></a>
        <span class="px-2">LCS2019039</span>
      </div>  

    </section>
  </div>
  <!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
